.timeline ul li {      //line
    list-style-type: none;
    position: relative;
    width: 3px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: black;
  }
   
.timeline ul li::after {  // ball
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: inherit;
    content: url('../../public/images/Masinac---Favicon_30x30.png'); 
    z-index: 1;
    bottom: 44px;
}

.timeline ul li div.parent { //image
    position: relative;
    bottom: 0;
    padding: 15px;
    background-repeat: no-repeat;
    z-index: 1;

}

.timeline ul li:nth-child(odd) div.child { //text
    position: absolute;
    text-align: justify;
    bottom: 0;
    height: max-content;
    width: 100%;
    padding: 15px;
    left: 0px;
    top: 180px;
    border-style: solid;
    // border-radius: 25px;
    border-width: 1px;
    background-color: white;
    z-index: 0;
    background-color: #171717;
    color: #83818c;
}

.timeline ul li:nth-child(even) div.child { //text
    position: absolute;
    text-align: justify;
    bottom: 0;
    width: 100%;
    padding: 15px;
    right:20px;
    left: 0px;
    top: 180px;
    height: max-content;
    border-style: solid;
    // border-radius: 25px;
    border-width: 1px;
    background-color: white;
    z-index: 2;
    background-color: #171717;
    color: #83818c;
}

.timeline ul li:nth-child(odd) div.date { //date
    position: absolute;
    top: -30px;
    left: 0px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    margin-top: -10px;
    text-align: center;
}

.timeline ul li:nth-child(even) div.date { //date
    position: absolute;
    left: 0px;
    top: -30px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    margin-top: -10px;
    text-align: center;
}

.navigation {
    margin-top: -150px;
    position: absolute;
}

html {
    scroll-behavior: smooth;
  }

.parent_1 {
    background-image: url('../../public/images/about_us/slika 1. o nama.jpg');  
    background-size: contain;
    height: 350px;
    width: 500px;
    left: -530px;
}

.parent_2 {
    background-image: url('../../public/images/about_us/slika 2. o nama.jpg');  
    background-size: contain;
    height: 460px;
    width: 500px;   
    left: 40px;
}

.parent_3 {
    background-image: url('../../public/images/about_us/slika 3. o nama.jpg');  
    background-size: contain;
    height: 350px;
    width: 500px;
    left: -530px;
}

.parent_4 {
    background-image: url('../../public/images/about_us/slika 4. o nama.jpg');  
    background-size: contain;
    height: 460px;
    width: 500px;   
    left: 40px;
}

.parent_5 {
    background-image: url('../../public/images/about_us/slika 5. o nama.jpg');  
    background-size: contain;
    height: 350px;
    width: 500px;
    left: -530px;
}

.parent_6 {
    background-image: url('../../public/images/about_us/slika 6. o nama.jpg');  
    background-size: contain;
    height: 460px;
    width: 500px;   
    left: 40px;
}

.parent_7 {
    background-image: url('../../public/images/about_us/slika 7. o nama.jpg');  
    background-size: contain;
    height: 350px;
    width: 500px;
    left: -530px;
}

.parent_8 {
    background-image: url('../../public/images/about_us/slika 8. o nama.jpg');  
    background-size: contain;
    height: 460px;
    width: 500px;   
    left: 40px;
}