@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Titillium Web','Open Sans',sans-serif;
  // font-family: 'DM Sans', sans-serif;

}

a.nav-item.nav_item_right {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.nav.nav_right {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}

.nav-item.nav_item_right {
  font-family: 'DM Sans', sans-serif;
  color: #83818c;
  padding: 20px;
  text-decoration: none;
  transition: .3s;
  z-index: 1;
  font-weight: 500;
  position: relative;
  
  &:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
  }
}

.nav-item.nav_item_right:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item.nav_item_right:not(.is-active):hover { 
  color: rgb(255, 255, 255);  
  transition: .4s; 
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
  
}

.nav-item.nav_item_right.is-active {
  color: #ff3333;
}

@media (max-width: 580px) {
  .nav.nav_right { overflow: auto; }
}

#language_dropdown {
  background-color: #343a40;
  color: white;
  border-color: white;
  font-size: 0.75rem;
  font-family: 'DM Sans', sans-serif;
}

.tab-card { 
  // display: block;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(208, 216, 223, 1), 0 1px 3px rgba(0,0,0,.15);
  transition: all .3s;

  &:hover {
    transform: translateY(-12px);
    box-shadow: 0 0 0 2px rgba(67,192,254, 1), 0 22px 43px rgba(0, 0, 0, 0.15);
  }
}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}



.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}