@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Titillium Web','Open Sans',sans-serif;
  // font-family: 'DM Sans', sans-serif;
 
}

a.nav-item.nav_item_right {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.navbar {
  background-image: url(/../images/Navbar-Background.png);
  margin-top: -2px;

}

.nav-item.nav_item_down {
  font-family: 'DM Sans', sans-serif;
  color: #83818c;
  padding: 20px;
  text-decoration: none;
  transition: .3s;
  z-index: 1;
  font-weight: 500;
  position: relative;
  
  &:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
  }
}

.nav-item.nav_item_down:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item.nav_item_down:not(.is-active):hover { 
  color: rgb(255, 255, 255);  
  transition: .4s; 
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
  
}

.nav-item.nav_item_down.is-active {
  color: #ff3333;
}

@media (max-width: 580px) {
  .nav.nav_right { overflow: auto; }
}

#language_dropdown {
  background-color: #343a40;
  color: white;
  border-color: white;
  font-size: 0.75rem;
  font-family: 'DM Sans', sans-serif;
}

.dropdown .dropdown-menu{
  display: block;
  opacity: 0;
  visibility: hidden;

  -moz-transition:    all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition:      all .3s ease;
  -ms-transition:     all .3s ease;
  transition:         all .3s ease;
}

a.nav-link:hover ~ .dropdown-menu{
    display: block;
    opacity: 1;
    visibility: visible;
}

a#products:hover  {
  ~.dropdown .dropdown-menu{
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.dropdown-item:active {
  color: #212529;
  background-color: transparent;
}

.dropdown .dropdown-menu{
  display: block;
  opacity: 0;
  visibility: hidden;

  -moz-transition:    all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition:      all .3s ease;
  -ms-transition:     all .3s ease;
  transition:         all .3s ease;
}

#arrow_up_circle {
 display: block; 
 opacity: 0; 
 visibility: visible;

 -moz-transition:    all .3s ease;
 -webkit-transition: all .3s ease;
 -o-transition:      all .3s ease;
 -ms-transition:     all .3s ease;
 transition:         all .3s ease;
}