// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.linkToparagraph { 
    text-decoration: none; 
    color:black; 
    font-size:14px;
    min-height:40px;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    padding-left: 10px;

}

a.linkToparagraph:hover {
    text-decoration: none; 
    color: black;
}

div.galery_links {
    a {
        padding-left: 0.5rem;
        padding-right: 0.5rem;  
    }
}

.prodLink { 
    text-decoration: none; 
    color:black; 
    font-size:14px;
    min-height:50px;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
}

.prodLink:hover {
    text-decoration: none; 
    color: black;
}

.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%; 
  height: 180px;
}

.productHighlight { 
    position: relative; 
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(208, 216, 223, 1), 0 1px 3px rgba(0,0,0,.15);
    transition: all .3s;
  
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 0 0 1px rgba(208, 216, 223, 1), 0 1px 3px rgba(0,0,0,.15);
    }
  }

.prodListItem {
    cursor: pointer;
    
    &.is-active {
        background-color: #cccccc;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;

        &:hover {
            background-color: #cccccc;
            -moz-transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            -webkit-transition: all .3s ease-in;
            transition: all .3s ease-in;
        }
        
    }

    &:hover {
        transform: translateY(-5px);
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }
}

.about-us-link{ 
    border:0; 
    width:100px; 
    padding: 6px 10px;
    display: block;
    color:inherit;
    text-decoration:none;
    font-size: 16px;
}

a.about-us-link:hover{
    color:black;
    text-decoration: none;
    transform: translateY(-3px);
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.slogan {
    margin-bottom: 20px;
    font-size:16px;
    background-image: url(/../images/slogan_background.png);;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
}


.tab-card { 
    // display: block;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(208, 216, 223, 1), 0 1px 3px rgba(0,0,0,.15);
    transition: all .3s;
  
    &:hover {
      transform: translateY(-12px);
      box-shadow: 0 0 0 2px rgba(208, 216, 223, 1), 0 22px 43px rgba(0, 0, 0, 0.15);
    }
  }

.multi-item-carousel{
    .carousel-inner{
    > .item{
    transition: 500ms ease-in-out left;
    }
    .active{
    &.left{
        left:-33%;
    }
    &.right{
        left:33%;
    }
    }
    .next{
    left: 33%;
    }
    .prev{
    left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
    > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
    }
    }
}
.carouse-control{
    &.left, &.right{
    background-image: none;
    }
}
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.nasi_proizvodi {
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 30px;
  font-weight: 600;
  text-underline-offset: 10px;

}

#arrow_up_circle {
    display: block; 
    opacity: 0; 
    visibility: visible;
   
    -moz-transition:    all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition:      all .5s ease;
    -ms-transition:     all .5s ease;
    transition:         all .5s ease;

    &:hover {
        transform: translateY(-10px);
        cursor: pointer;
    }
}

.fa {
    color:white;
}